
files:
#S3 AWS CLI Configure
    "/usr/local/bin/aws_cli_configure.sh":
        mode: "000755"
        owner: root
        group: root
        leader_only: true
        content: |
            #!/bin/bash
            date > /tmp/date
            source /opt/elasticbeanstalk/support/envvars
            aws configure set aws_access_key_id "$AWS_KEY"
            aws configure set aws_secret_access_key "$AWS_SECRET"
            aws configure set default.region "$AWS_REGION"
            exit 0
#DB Backup S3
    "/etc/cron.d/db_s3_backup":
        mode: "000644"
        owner: root
        group: root
        leader_only: true
        content: |
            0 21 * * * root /usr/local/bin/db_s3_backup.sh >/dev/null 2>&1
    "/usr/local/bin/db_s3_backup.sh":
        mode: "000755"
        owner: root
        group: root
        leader_only: true
        content: |
            #!/bin/bash
            date > /tmp/date
            source /opt/elasticbeanstalk/support/envvars
            mysqldump -u"$RDS_USERNAME" -p"$RDS_PASSWORD"  -h"$RDS_HOSTNAME" "$RDS_DB_NAME" | sed -e 's/DEFINER[ ]*=[ ]*[^*]*\*/\*/' > /tmp/"$RDS_DB_NAME"_$(date "+%Y%m%d").sql
            aws s3 cp /tmp/"$RDS_DB_NAME"_$(date "+%Y%m%d").sql s3://$BACKUP_BUCKET/$BACKUP_FOLDER/db/"$RDS_DB_NAME"_$(date "+%Y%m%d").sql
            rm -f /tmp/"$RDS_DB_NAME"_$(date "+%Y%m%d").sql 
            exit 0
commands: 
  run_aws_configre: 
    command: "/usr/local/bin/aws_cli_configure.sh"
container_commands:
   01_cache:
      command: "php artisan cache:clear"
      cwd: "/var/app/ondeck"
   02_optimize:
      command: "php artisan optimize --force"
      cwd: "/var/app/ondeck"
packages: 
  yum: 
    php70-zip: []
    php70-tidy: []