
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.alert{
	position: absolute;
    z-index: 10;
    width: 100%;
    opacity: 0.75;
    margin-top: 5px;
}

#detailsTitle{
    cursor: pointer;
    .fa-plus-circle{
        display: none;
    }
    .fa-minus-circle{
        display:inline-block;
    }
    &.collapsed .fa-minus-circle{
        display: none ;
    }
    &.collapsed .fa-plus-circle{
        display: inline-block ;
    }
}